<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gesture.recog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GestureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="Magic Wand"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GestureActivity"
            android:label="Gesture"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGestureActivity"
            android:label="Create gesture"
            android:screenOrientation="portrait" />

        <activity
            android:name=".KeyboardActivity"
            android:label="Send keys" />

    </application>

</manifest>
